blueprint-make.com-scenario
{
    "name": "Integration Google Forms, Google Gemini AI",
    "flow": [
        {
            "id": 7,
            "module": "google-forms:watchResponses",
            "version": 2,
            "parameters": {
                "limit": 100,
                "formId": "10twvygFrJAGts4YhGIzky9zOWGY54AYf1uTlBkuoOj8",
                "__IMTCONN__": 7186063
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 150
                },
                "restore": {
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "google"
                            },
                            "label": "My Google connection"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:google",
                        "label": "Connection",
                        "required": true
                    },
                    {
                        "name": "formId",
                        "type": "text",
                        "label": "Form ID",
                        "required": true
                    },
                    {
                        "name": "limit",
                        "type": "uinteger",
                        "label": "Limit",
                        "required": true
                    }
                ],
                "interface": [
                    {
                        "name": "responseId",
                        "type": "text",
                        "label": "Response ID"
                    },
                    {
                        "name": "createTime",
                        "type": "date",
                        "label": "Create Time"
                    },
                    {
                        "name": "lastSubmittedTime",
                        "type": "date",
                        "label": "Last Submitted Time"
                    },
                    {
                        "name": "respondentEmail",
                        "type": "text",
                        "label": "Respondent Email"
                    },
                    {
                        "name": "answers",
                        "spec": [
                            {
                                "name": "740f740d",
                                "spec": [
                                    {
                                        "name": "questionId",
                                        "type": "text",
                                        "label": "Question ID"
                                    },
                                    {
                                        "name": "grade",
                                        "spec": [
                                            {
                                                "name": "score",
                                                "type": "number",
                                                "label": "Score"
                                            },
                                            {
                                                "name": "correct",
                                                "type": "boolean",
                                                "label": "Correct"
                                            },
                                            {
                                                "name": "feedback",
                                                "spec": [
                                                    {
                                                        "name": "text",
                                                        "type": "text",
                                                        "label": "Text"
                                                    },
                                                    {
                                                        "name": "material",
                                                        "spec": [
                                                            {
                                                                "name": "link",
                                                                "spec": [
                                                                    {
                                                                        "name": "uri",
                                                                        "type": "text",
                                                                        "label": "URI"
                                                                    },
                                                                    {
                                                                        "name": "displayText",
                                                                        "type": "text",
                                                                        "label": "Display Text"
                                                                    }
                                                                ],
                                                                "type": "collection",
                                                                "label": "Link"
                                                            },
                                                            {
                                                                "name": "video",
                                                                "spec": [
                                                                    {
                                                                        "name": "youtubeUri",
                                                                        "type": "text",
                                                                        "label": "Youtube URI"
                                                                    },
                                                                    {
                                                                        "name": "displayText",
                                                                        "type": "text",
                                                                        "label": "Display Text"
                                                                    }
                                                                ],
                                                                "type": "collection",
                                                                "label": "Video"
                                                            }
                                                        ],
                                                        "type": "array",
                                                        "label": "Material"
                                                    },
                                                    {
                                                        "name": "textAnswers",
                                                        "spec": [
                                                            {
                                                                "name": "answers",
                                                                "spec": [
                                                                    {
                                                                        "name": "value",
                                                                        "type": "text",
                                                                        "label": "value"
                                                                    }
                                                                ],
                                                                "type": "array",
                                                                "label": "Answers"
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "Text Answers"
                                                    },
                                                    {
                                                        "name": "fileUploadAnswers",
                                                        "spec": [
                                                            {
                                                                "name": "answers",
                                                                "spec": [
                                                                    {
                                                                        "name": "fileId",
                                                                        "type": "text",
                                                                        "label": "File ID"
                                                                    },
                                                                    {
                                                                        "name": "fileName",
                                                                        "type": "text",
                                                                        "label": "File Name"
                                                                    },
                                                                    {
                                                                        "name": "mimeType",
                                                                        "type": "text",
                                                                        "label": "MIME Type"
                                                                    }
                                                                ],
                                                                "type": "array",
                                                                "label": "Answers"
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "File Upload Answers"
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "Feedback"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Grade"
                                    }
                                ],
                                "type": "collection",
                                "label": "Email Address"
                            },
                            {
                                "name": "67c4efc3",
                                "spec": [
                                    {
                                        "name": "questionId",
                                        "type": "text",
                                        "label": "Question ID"
                                    },
                                    {
                                        "name": "grade",
                                        "spec": [
                                            {
                                                "name": "score",
                                                "type": "number",
                                                "label": "Score"
                                            },
                                            {
                                                "name": "correct",
                                                "type": "boolean",
                                                "label": "Correct"
                                            },
                                            {
                                                "name": "feedback",
                                                "spec": [
                                                    {
                                                        "name": "text",
                                                        "type": "text",
                                                        "label": "Text"
                                                    },
                                                    {
                                                        "name": "material",
                                                        "spec": [
                                                            {
                                                                "name": "link",
                                                                "spec": [
                                                                    {
                                                                        "name": "uri",
                                                                        "type": "text",
                                                                        "label": "URI"
                                                                    },
                                                                    {
                                                                        "name": "displayText",
                                                                        "type": "text",
                                                                        "label": "Display Text"
                                                                    }
                                                                ],
                                                                "type": "collection",
                                                                "label": "Link"
                                                            },
                                                            {
                                                                "name": "video",
                                                                "spec": [
                                                                    {
                                                                        "name": "youtubeUri",
                                                                        "type": "text",
                                                                        "label": "Youtube URI"
                                                                    },
                                                                    {
                                                                        "name": "displayText",
                                                                        "type": "text",
                                                                        "label": "Display Text"
                                                                    }
                                                                ],
                                                                "type": "collection",
                                                                "label": "Video"
                                                            }
                                                        ],
                                                        "type": "array",
                                                        "label": "Material"
                                                    },
                                                    {
                                                        "name": "textAnswers",
                                                        "spec": [
                                                            {
                                                                "name": "answers",
                                                                "spec": [
                                                                    {
                                                                        "name": "value",
                                                                        "type": "text",
                                                                        "label": "value"
                                                                    }
                                                                ],
                                                                "type": "array",
                                                                "label": "Answers"
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "Text Answers"
                                                    },
                                                    {
                                                        "name": "fileUploadAnswers",
                                                        "spec": [
                                                            {
                                                                "name": "answers",
                                                                "spec": [
                                                                    {
                                                                        "name": "fileId",
                                                                        "type": "text",
                                                                        "label": "File ID"
                                                                    },
                                                                    {
                                                                        "name": "fileName",
                                                                        "type": "text",
                                                                        "label": "File Name"
                                                                    },
                                                                    {
                                                                        "name": "mimeType",
                                                                        "type": "text",
                                                                        "label": "MIME Type"
                                                                    }
                                                                ],
                                                                "type": "array",
                                                                "label": "Answers"
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "File Upload Answers"
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "Feedback"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Grade"
                                    }
                                ],
                                "type": "collection",
                                "label": "Please paste the complete meeting transcript here:"
                            },
                            {
                                "name": "7dd1a1c9",
                                "spec": [
                                    {
                                        "name": "questionId",
                                        "type": "text",
                                        "label": "Question ID"
                                    },
                                    {
                                        "name": "grade",
                                        "spec": [
                                            {
                                                "name": "score",
                                                "type": "number",
                                                "label": "Score"
                                            },
                                            {
                                                "name": "correct",
                                                "type": "boolean",
                                                "label": "Correct"
                                            },
                                            {
                                                "name": "feedback",
                                                "spec": [
                                                    {
                                                        "name": "text",
                                                        "type": "text",
                                                        "label": "Text"
                                                    },
                                                    {
                                                        "name": "material",
                                                        "spec": [
                                                            {
                                                                "name": "link",
                                                                "spec": [
                                                                    {
                                                                        "name": "uri",
                                                                        "type": "text",
                                                                        "label": "URI"
                                                                    },
                                                                    {
                                                                        "name": "displayText",
                                                                        "type": "text",
                                                                        "label": "Display Text"
                                                                    }
                                                                ],
                                                                "type": "collection",
                                                                "label": "Link"
                                                            },
                                                            {
                                                                "name": "video",
                                                                "spec": [
                                                                    {
                                                                        "name": "youtubeUri",
                                                                        "type": "text",
                                                                        "label": "Youtube URI"
                                                                    },
                                                                    {
                                                                        "name": "displayText",
                                                                        "type": "text",
                                                                        "label": "Display Text"
                                                                    }
                                                                ],
                                                                "type": "collection",
                                                                "label": "Video"
                                                            }
                                                        ],
                                                        "type": "array",
                                                        "label": "Material"
                                                    },
                                                    {
                                                        "name": "textAnswers",
                                                        "spec": [
                                                            {
                                                                "name": "answers",
                                                                "spec": [
                                                                    {
                                                                        "name": "value",
                                                                        "type": "text",
                                                                        "label": "value"
                                                                    }
                                                                ],
                                                                "type": "array",
                                                                "label": "Answers"
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "Text Answers"
                                                    },
                                                    {
                                                        "name": "fileUploadAnswers",
                                                        "spec": [
                                                            {
                                                                "name": "answers",
                                                                "spec": [
                                                                    {
                                                                        "name": "fileId",
                                                                        "type": "text",
                                                                        "label": "File ID"
                                                                    },
                                                                    {
                                                                        "name": "fileName",
                                                                        "type": "text",
                                                                        "label": "File Name"
                                                                    },
                                                                    {
                                                                        "name": "mimeType",
                                                                        "type": "text",
                                                                        "label": "MIME Type"
                                                                    }
                                                                ],
                                                                "type": "array",
                                                                "label": "Answers"
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "File Upload Answers"
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "Feedback"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Grade"
                                    }
                                ],
                                "type": "collection",
                                "label": "Upload Transcript"
                            }
                        ],
                        "type": "collection",
                        "label": "Answers"
                    },
                    {
                        "name": "totalScore",
                        "type": "number",
                        "label": "Total Score"
                    }
                ]
            }
        },
        {
            "id": 8,
            "module": "builtin:BasicRouter",
            "version": 1,
            "mapper": null,
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 150
                }
            },
            "routes": [
                {
                    "flow": [
                        {
                            "id": 14,
                            "module": "google-drive:getAFile",
                            "version": 4,
                            "parameters": {
                                "__IMTCONN__": 7186275
                            },
                            "filter": {
                                "name": "More than 30k characters",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{7.answers.`7dd1a1c9`.fileUploadAnswers.answers}}",
                                            "b": "0",
                                            "o": "number:greater"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "file": "{{7.answers.`7dd1a1c9`.fileUploadAnswers.answers[].fileId}}",
                                "select": "map",
                                "formatDrawings": "image/jpeg",
                                "formatDocuments": "application/vnd.openxmlformats-officedocument.wordprocessingml.document",
                                "formatSpreadsheets": "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet",
                                "formatPresentations": "application/vnd.openxmlformats-officedocument.presentationml.presentation"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 600,
                                    "y": 0
                                },
                                "restore": {
                                    "expect": {
                                        "select": {
                                            "label": "Enter manually"
                                        },
                                        "formatDrawings": {
                                            "label": "JPEG"
                                        },
                                        "formatDocuments": {
                                            "label": "MS Word Document"
                                        },
                                        "formatSpreadsheets": {
                                            "label": "MS Excel"
                                        },
                                        "formatPresentations": {
                                            "label": "MS PowerPoint"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "google-restricted"
                                            },
                                            "label": "Nipun's connection"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:google-restricted",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "select",
                                        "type": "select",
                                        "label": "Enter a File ID",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "map",
                                                "value"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "formatDocuments",
                                        "type": "select",
                                        "label": "Convert Google Documents Files to Format",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "application/vnd.openxmlformats-officedocument.wordprocessingml.document",
                                                "application/pdf",
                                                "application/vnd.oasis.opendocument.text",
                                                "text/html",
                                                "text/plain",
                                                "application/rtf",
                                                "text/markdown"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "formatSpreadsheets",
                                        "type": "select",
                                        "label": "Convert Google Spreadsheets Files to Format",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet",
                                                "application/x-vnd.oasis.opendocument.spreadsheet",
                                                "application/pdf",
                                                "text/csv"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "formatPresentations",
                                        "type": "select",
                                        "label": "Convert Google Slides Files to Format",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "application/vnd.openxmlformats-officedocument.presentationml.presentation",
                                                "application/pdf"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "formatDrawings",
                                        "type": "select",
                                        "label": "Convert Google Drawings Files to Format",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "image/jpeg",
                                                "image/png",
                                                "image/svg+xml",
                                                "application/pdf"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "file",
                                        "type": "text",
                                        "label": "File ID",
                                        "required": true
                                    }
                                ]
                            }
                        },
                        {
                            "id": 10,
                            "module": "gemini-ai:createACompletionGeminiPro",
                            "version": 1,
                            "parameters": {
                                "__IMTCONN__": 7186100
                            },
                            "mapper": {
                                "model": "gemini-2.5-flash",
                                "contents": [
                                    {
                                        "role": "user",
                                        "parts": [
                                            {
                                                "text": "\"Act as a professional meeting assistant. I will provide you with a meeting transcript that includes timestamps and speaker names. Your goal is to generate a structured, scannable summary that captures the essence of the conversation.\n\nPlease organize the summary using the following format:\n\nHeader: Title of the meeting and date (if available).\n\nMeeting Purpose: A 1-sentence description of why the meeting took place.\n\nKey Takeaways: A bulleted list of the 3-5 most important high-level outcomes or philosophies discussed.\n\nTopics (Detailed Breakdown): Use bold headings for each major topic. Under each heading, provide a concise explanation of the discussion, including specific features, problems, or solutions mentioned.\n\nNext Steps: A clear list of action items or follow-up tasks identified in the transcript.\n\nAnnotations (Highlights/Bookmarks): Extract specific moments marked as 'HIGHLIGHT' or 'BOOKMARK' in the transcript. Provide the title of the highlight and a brief 1-sentence summary of what happened during that specific clip.\n\nWriting Guidelines:\n\nBe Concise: Use bullet points and avoid dense paragraphs.\n\nBe Objective: Summarize what was said without adding external commentary.\n\nCapture Context: Ensure that explanations of features or points include 'why' they are important, not just 'what' they are.\n\nMaintain Professionalism: Use clear, business-appropriate language.\n\nTranscript to process (in binary): {{toString(14.data)}}\n\nProvide the response in HTML format so it can be sent directly via email. Use <p>, <ul>, <li>, and <strong> tags. Dont mention the word header. Just have them in the result. Also do not have the subject, just include the body. have a greater font size for the Meeting Purpose, Key Takeaways, Topics (Detailed breakdown), Next Steps, Annotations etc.\"",
                                                "type": "text"
                                            }
                                        ]
                                    }
                                ],
                                "generationConfig": {
                                    "imageConfig": {},
                                    "thinkingConfig": {}
                                },
                                "system_instruction": {}
                            },
                            "metadata": {
                                "designer": {
                                    "x": 900,
                                    "y": 0
                                },
                                "restore": {
                                    "expect": {
                                        "model": {
                                            "mode": "chose",
                                            "label": "Gemini 2.5 Flash"
                                        },
                                        "contents": {
                                            "mode": "chose",
                                            "items": [
                                                {
                                                    "role": {
                                                        "mode": "chose",
                                                        "label": "User"
                                                    },
                                                    "parts": {
                                                        "mode": "chose",
                                                        "items": [
                                                            {
                                                                "type": {
                                                                    "mode": "chose",
                                                                    "label": "Text"
                                                                }
                                                            }
                                                        ]
                                                    }
                                                }
                                            ]
                                        },
                                        "url_context": {
                                            "mode": "chose"
                                        },
                                        "code_execution": {
                                            "mode": "chose"
                                        },
                                        "safetySettings": {
                                            "mode": "chose"
                                        },
                                        "generationConfig": {
                                            "nested": {
                                                "imageConfig": {
                                                    "nested": {
                                                        "imageSize": {
                                                            "mode": "chose",
                                                            "label": "Empty"
                                                        }
                                                    }
                                                },
                                                "stopSequences": {
                                                    "mode": "chose"
                                                },
                                                "thinkingConfig": {
                                                    "nested": {
                                                        "thinking_level": {
                                                            "mode": "chose",
                                                            "label": "Empty"
                                                        },
                                                        "include_thoughts": {
                                                            "mode": "chose"
                                                        }
                                                    }
                                                },
                                                "mediaResolution": {
                                                    "mode": "chose",
                                                    "label": "Empty"
                                                },
                                                "responseMimeType": {
                                                    "mode": "chose",
                                                    "label": "Empty"
                                                },
                                                "responseModalities": {
                                                    "mode": "chose"
                                                }
                                            }
                                        },
                                        "system_instruction": {
                                            "nested": {
                                                "parts": {
                                                    "mode": "chose"
                                                }
                                            }
                                        },
                                        "google_maps_context": {
                                            "mode": "chose"
                                        },
                                        "google_search_context": {
                                            "mode": "chose"
                                        },
                                        "file_search_store_context": {
                                            "mode": "chose"
                                        },
                                        "function_declarations_context": {
                                            "mode": "chose"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "gemini-ai-q9zyjp"
                                            },
                                            "label": "Nipun's connection"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:gemini-ai-q9zyjp",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "model",
                                        "type": "select",
                                        "label": "AI Model",
                                        "required": true
                                    },
                                    {
                                        "name": "contents",
                                        "spec": [
                                            {
                                                "name": "role",
                                                "type": "select",
                                                "label": "Role",
                                                "options": [
                                                    {
                                                        "label": "User",
                                                        "value": "user"
                                                    },
                                                    {
                                                        "label": "Model",
                                                        "value": "model"
                                                    }
                                                ]
                                            },
                                            {
                                                "name": "parts",
                                                "spec": [
                                                    {
                                                        "name": "type",
                                                        "type": "select",
                                                        "label": "Message Type",
                                                        "options": [
                                                            {
                                                                "label": "Text",
                                                                "value": "text",
                                                                "nested": [
                                                                    {
                                                                        "name": "text",
                                                                        "type": "text",
                                                                        "label": "Text",
                                                                        "required": false
                                                                    }
                                                                ]
                                                            },
                                                            {
                                                                "label": "File",
                                                                "value": "file",
                                                                "nested": [
                                                                    {
                                                                        "name": "file_data",
                                                                        "spec": [
                                                                            {
                                                                                "name": "mime_type",
                                                                                "type": "text",
                                                                                "label": "Mime Type",
                                                                                "required": false
                                                                            },
                                                                            {
                                                                                "help": "You can use public or signed URLs as input by using the URLs.",
                                                                                "name": "file_uri",
                                                                                "type": "text",
                                                                                "label": "File URI",
                                                                                "required": false
                                                                            }
                                                                        ],
                                                                        "type": "collection",
                                                                        "label": "File Data",
                                                                        "required": false
                                                                    }
                                                                ]
                                                            },
                                                            {
                                                                "label": "Function Call",
                                                                "value": "functionCall",
                                                                "nested": [
                                                                    {
                                                                        "name": "functionCall",
                                                                        "spec": [
                                                                            {
                                                                                "help": "The name of the function to call.",
                                                                                "name": "name",
                                                                                "type": "text",
                                                                                "label": "Name",
                                                                                "required": true,
                                                                                "validate": {
                                                                                    "max": 64
                                                                                }
                                                                            },
                                                                            {
                                                                                "help": "The function parameters and values in JSON object format.",
                                                                                "name": "args",
                                                                                "type": "json",
                                                                                "label": "Arguments"
                                                                            },
                                                                            {
                                                                                "help": "The unique ID of the function call.",
                                                                                "name": "id",
                                                                                "type": "text",
                                                                                "label": "Function Call ID"
                                                                            }
                                                                        ],
                                                                        "type": "collection",
                                                                        "label": "Function Call"
                                                                    }
                                                                ]
                                                            },
                                                            {
                                                                "label": "Function Response",
                                                                "value": "functionResponse",
                                                                "nested": [
                                                                    {
                                                                        "name": "functionResponse",
                                                                        "spec": [
                                                                            {
                                                                                "help": "The name of the function to call.",
                                                                                "name": "name",
                                                                                "type": "text",
                                                                                "label": "Name",
                                                                                "required": true,
                                                                                "validate": {
                                                                                    "max": 64
                                                                                }
                                                                            },
                                                                            {
                                                                                "help": "The function response in JSON object format.",
                                                                                "name": "response",
                                                                                "type": "json",
                                                                                "label": "Response",
                                                                                "required": true
                                                                            }
                                                                        ],
                                                                        "type": "collection",
                                                                        "label": "Function Response"
                                                                    }
                                                                ]
                                                            }
                                                        ]
                                                    },
                                                    {
                                                        "name": "thoughtSignature",
                                                        "type": "text",
                                                        "label": "Thought Signature"
                                                    }
                                                ],
                                                "type": "array",
                                                "label": "Parts"
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Messages",
                                        "required": true
                                    },
                                    {
                                        "name": "system_instruction",
                                        "spec": [
                                            {
                                                "name": "parts",
                                                "spec": {
                                                    "name": "value",
                                                    "spec": [
                                                        {
                                                            "name": "text",
                                                            "type": "text",
                                                            "label": "Value"
                                                        }
                                                    ],
                                                    "type": "collection",
                                                    "label": "Prompt"
                                                },
                                                "type": "array",
                                                "label": "Prompts"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "System Instructions"
                                    },
                                    {
                                        "name": "safetySettings",
                                        "spec": [
                                            {
                                                "name": "category",
                                                "type": "select",
                                                "label": "Category",
                                                "options": [
                                                    {
                                                        "label": "Harassment content",
                                                        "value": "HARM_CATEGORY_HARASSMENT"
                                                    },
                                                    {
                                                        "label": "Hate speech and content",
                                                        "value": "HARM_CATEGORY_HATE_SPEECH"
                                                    },
                                                    {
                                                        "label": "Sexually explicit content.",
                                                        "value": "HARM_CATEGORY_SEXUALLY_EXPLICIT"
                                                    },
                                                    {
                                                        "label": "Dangerous content:",
                                                        "value": "HARM_CATEGORY_DANGEROUS_CONTENT"
                                                    }
                                                ]
                                            },
                                            {
                                                "name": "threshold",
                                                "type": "select",
                                                "label": "Threshold",
                                                "options": [
                                                    {
                                                        "label": "Block low and above.",
                                                        "value": "BLOCK_LOW_AND_ABOVE"
                                                    },
                                                    {
                                                        "label": "Block medium and above.",
                                                        "value": "BLOCK_MEDIUM_AND_ABOVE"
                                                    },
                                                    {
                                                        "label": "Block only high.",
                                                        "value": "BLOCK_ONLY_HIGH"
                                                    },
                                                    {
                                                        "label": "Block none.",
                                                        "value": "BLOCK_NONE"
                                                    }
                                                ]
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Safety Settings"
                                    },
                                    {
                                        "name": "generationConfig",
                                        "spec": [
                                            {
                                                "name": "stopSequences",
                                                "spec": {
                                                    "name": "value",
                                                    "type": "text",
                                                    "label": "Stop Sequence"
                                                },
                                                "type": "array",
                                                "label": "Stop Sequences"
                                            },
                                            {
                                                "name": "responseModalities",
                                                "type": "select",
                                                "label": "Response Modalities",
                                                "multiple": true,
                                                "validate": {
                                                    "enum": [
                                                        "text",
                                                        "image"
                                                    ]
                                                }
                                            },
                                            {
                                                "name": "maxOutputTokens",
                                                "type": "number",
                                                "label": "Max Output Tokens"
                                            },
                                            {
                                                "name": "temperature",
                                                "type": "number",
                                                "label": "Temperature",
                                                "validate": {
                                                    "max": 1,
                                                    "min": 0
                                                }
                                            },
                                            {
                                                "name": "topP",
                                                "type": "number",
                                                "label": "Top P",
                                                "validate": {
                                                    "max": 1,
                                                    "min": 0
                                                }
                                            },
                                            {
                                                "name": "topK",
                                                "type": "number",
                                                "label": "Top K"
                                            },
                                            {
                                                "name": "thinkingConfig",
                                                "spec": [
                                                    {
                                                        "name": "thinkingBudget",
                                                        "type": "number",
                                                        "label": "Thinking Budget"
                                                    },
                                                    {
                                                        "name": "include_thoughts",
                                                        "type": "boolean",
                                                        "label": "Include Thoughts"
                                                    },
                                                    {
                                                        "name": "thinking_level",
                                                        "type": "select",
                                                        "label": "Thinking Level",
                                                        "validate": {
                                                            "enum": [
                                                                "low",
                                                                "high"
                                                            ]
                                                        }
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "Thinking Config"
                                            },
                                            {
                                                "name": "mediaResolution",
                                                "type": "select",
                                                "label": "Media Resolution",
                                                "validate": {
                                                    "enum": [
                                                        "media_resolution_low",
                                                        "media_resolution_medium",
                                                        "media_resolution_high"
                                                    ]
                                                }
                                            },
                                            {
                                                "name": "imageConfig",
                                                "spec": [
                                                    {
                                                        "name": "imageSize",
                                                        "type": "select",
                                                        "label": "Image Size",
                                                        "validate": {
                                                            "enum": [
                                                                "1K",
                                                                "2K",
                                                                "4K"
                                                            ]
                                                        }
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "Image Configuration"
                                            },
                                            {
                                                "name": "responseMimeType",
                                                "type": "select",
                                                "label": "Response Format"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Generation configurations"
                                    },
                                    {
                                        "name": "tools",
                                        "type": "any",
                                        "label": "Tools"
                                    },
                                    {
                                        "name": "tool_config",
                                        "type": "any",
                                        "label": "Tool Config"
                                    },
                                    {
                                        "name": "function_declarations_context",
                                        "type": "boolean",
                                        "label": "Function Declarations Grounding"
                                    },
                                    {
                                        "name": "url_context",
                                        "type": "boolean",
                                        "label": "URL Context"
                                    },
                                    {
                                        "name": "google_search_context",
                                        "type": "boolean",
                                        "label": "Google Search Grounding"
                                    },
                                    {
                                        "name": "code_execution",
                                        "type": "boolean",
                                        "label": "Code Execution"
                                    },
                                    {
                                        "name": "google_maps_context",
                                        "type": "boolean",
                                        "label": "Google Maps Grounding"
                                    },
                                    {
                                        "name": "file_search_store_context",
                                        "type": "boolean",
                                        "label": "File Search Store Context"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 15,
                            "module": "google-email:sendAnEmail",
                            "version": 4,
                            "parameters": {
                                "__IMTCONN__": 6267265
                            },
                            "mapper": {
                                "to": [
                                    "{{7.answers.`740f740d`.textAnswers.answers[].value}}"
                                ],
                                "content": "{{10.result}}",
                                "subject": "Summary of Meeting",
                                "bodyType": "rawHtml"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1200,
                                    "y": 0
                                },
                                "restore": {
                                    "expect": {
                                        "cc": {
                                            "mode": "chose"
                                        },
                                        "to": {
                                            "mode": "chose",
                                            "items": [
                                                null
                                            ]
                                        },
                                        "bcc": {
                                            "mode": "chose"
                                        },
                                        "from": {
                                            "mode": "chose",
                                            "label": "Empty"
                                        },
                                        "bodyType": {
                                            "label": "Raw HTML"
                                        },
                                        "attachments": {
                                            "mode": "chose"
                                        },
                                        "emailHeaders": {
                                            "mode": "chose"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "google-email"
                                            },
                                            "label": "nipun.sai.090246@gmail.com (nipun.sai.090246@gmail.com)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:google-email",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "to",
                                        "spec": {
                                            "name": "value",
                                            "type": "email",
                                            "label": "Recipient email address",
                                            "required": true,
                                            "validate": true
                                        },
                                        "type": "array",
                                        "label": "To",
                                        "required": true
                                    },
                                    {
                                        "name": "subject",
                                        "type": "text",
                                        "label": "Subject"
                                    },
                                    {
                                        "name": "bodyType",
                                        "type": "select",
                                        "label": "Body type",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "rawHtml",
                                                "collection"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "attachments",
                                        "spec": {
                                            "name": "value",
                                            "spec": [
                                                {
                                                    "name": "filename",
                                                    "type": "filename",
                                                    "label": "File name",
                                                    "required": true,
                                                    "semantic": "file:name"
                                                },
                                                {
                                                    "name": "data",
                                                    "type": "buffer",
                                                    "label": "Data",
                                                    "required": true,
                                                    "semantic": "file:data"
                                                }
                                            ],
                                            "type": "collection",
                                            "label": "Attachment"
                                        },
                                        "type": "array",
                                        "label": "Attachments"
                                    },
                                    {
                                        "name": "from",
                                        "type": "select",
                                        "label": "From"
                                    },
                                    {
                                        "name": "cc",
                                        "spec": {
                                            "name": "value",
                                            "type": "email",
                                            "label": "Recipient email address",
                                            "required": true
                                        },
                                        "type": "array",
                                        "label": "CC recipients"
                                    },
                                    {
                                        "name": "bcc",
                                        "spec": {
                                            "name": "value",
                                            "type": "email",
                                            "label": "Recipient email address",
                                            "required": true
                                        },
                                        "type": "array",
                                        "label": "BCC recipients"
                                    },
                                    {
                                        "name": "emailHeaders",
                                        "spec": {
                                            "name": "value",
                                            "spec": [
                                                {
                                                    "name": "key",
                                                    "type": "text",
                                                    "label": "Key",
                                                    "required": true
                                                },
                                                {
                                                    "name": "value",
                                                    "type": "text",
                                                    "label": "Value"
                                                }
                                            ],
                                            "type": "collection",
                                            "label": "Email header"
                                        },
                                        "type": "array",
                                        "label": "Additional email headers"
                                    },
                                    {
                                        "name": "content",
                                        "type": "text",
                                        "label": "Content"
                                    }
                                ]
                            }
                        }
                    ]
                },
                {
                    "flow": [
                        {
                            "id": 9,
                            "module": "gemini-ai:createACompletionGeminiPro",
                            "version": 1,
                            "parameters": {
                                "__IMTCONN__": 7186100
                            },
                            "mapper": {
                                "model": "gemini-2.5-flash",
                                "contents": [
                                    {
                                        "role": "user",
                                        "parts": [
                                            {
                                                "text": "\"Act as a professional meeting assistant. I will provide you with a meeting transcript that includes timestamps and speaker names. Your goal is to generate a structured, scannable summary that captures the essence of the conversation.\n\nPlease organize the summary using the following format:\n\nHeader: Title of the meeting and date (if available).\n\nMeeting Purpose: A 1-sentence description of why the meeting took place.\n\nKey Takeaways: A bulleted list of the 3-5 most important high-level outcomes or philosophies discussed.\n\nTopics (Detailed Breakdown): Use bold headings for each major topic. Under each heading, provide a concise explanation of the discussion, including specific features, problems, or solutions mentioned.\n\nNext Steps: A clear list of action items or follow-up tasks identified in the transcript.\n\nAnnotations (Highlights/Bookmarks): Extract specific moments marked as 'HIGHLIGHT' or 'BOOKMARK' in the transcript. Provide the title of the highlight and a brief 1-sentence summary of what happened during that specific clip.\n\nWriting Guidelines:\n\nBe Concise: Use bullet points and avoid dense paragraphs.\n\nBe Objective: Summarize what was said without adding external commentary.\n\nCapture Context: Ensure that explanations of features or points include 'why' they are important, not just 'what' they are.\n\nMaintain Professionalism: Use clear, business-appropriate language.\n\nTranscript to process: {{7.answers.`67c4efc3`.textAnswers.answers[].value}}\n\nProvide the response in HTML format so it can be sent directly via email. Use <p>, <ul>, <li>, and <strong> tags. Dont mention the word header. Just have them in the result. Also do not have the subject, just include the body. have a greater font size for the Meeting Purpose, Key Takeaways, Topics (Detailed breakdown), Next Steps, Annotations etc.\"",
                                                "type": "text"
                                            }
                                        ]
                                    }
                                ],
                                "generationConfig": {
                                    "imageConfig": {},
                                    "thinkingConfig": {}
                                },
                                "system_instruction": {}
                            },
                            "metadata": {
                                "designer": {
                                    "x": 600,
                                    "y": 300
                                },
                                "restore": {
                                    "expect": {
                                        "model": {
                                            "mode": "chose",
                                            "label": "Gemini 2.5 Flash"
                                        },
                                        "contents": {
                                            "mode": "chose",
                                            "items": [
                                                {
                                                    "role": {
                                                        "mode": "chose",
                                                        "label": "User"
                                                    },
                                                    "parts": {
                                                        "mode": "chose",
                                                        "items": [
                                                            {
                                                                "type": {
                                                                    "mode": "chose",
                                                                    "label": "Text"
                                                                }
                                                            }
                                                        ]
                                                    }
                                                }
                                            ]
                                        },
                                        "url_context": {
                                            "mode": "chose"
                                        },
                                        "code_execution": {
                                            "mode": "chose"
                                        },
                                        "safetySettings": {
                                            "mode": "chose"
                                        },
                                        "generationConfig": {
                                            "nested": {
                                                "imageConfig": {
                                                    "nested": {
                                                        "imageSize": {
                                                            "mode": "chose",
                                                            "label": "Empty"
                                                        }
                                                    }
                                                },
                                                "stopSequences": {
                                                    "mode": "chose"
                                                },
                                                "thinkingConfig": {
                                                    "nested": {
                                                        "thinking_level": {
                                                            "mode": "chose",
                                                            "label": "Empty"
                                                        },
                                                        "include_thoughts": {
                                                            "mode": "chose"
                                                        }
                                                    }
                                                },
                                                "mediaResolution": {
                                                    "mode": "chose",
                                                    "label": "Empty"
                                                },
                                                "responseMimeType": {
                                                    "mode": "chose",
                                                    "label": "Empty"
                                                },
                                                "responseModalities": {
                                                    "mode": "chose"
                                                }
                                            }
                                        },
                                        "system_instruction": {
                                            "nested": {
                                                "parts": {
                                                    "mode": "chose"
                                                }
                                            }
                                        },
                                        "google_maps_context": {
                                            "mode": "chose"
                                        },
                                        "google_search_context": {
                                            "mode": "chose"
                                        },
                                        "file_search_store_context": {
                                            "mode": "chose"
                                        },
                                        "function_declarations_context": {
                                            "mode": "chose"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "gemini-ai-q9zyjp"
                                            },
                                            "label": "Nipun's connection"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:gemini-ai-q9zyjp",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "model",
                                        "type": "select",
                                        "label": "AI Model",
                                        "required": true
                                    },
                                    {
                                        "name": "contents",
                                        "spec": [
                                            {
                                                "name": "role",
                                                "type": "select",
                                                "label": "Role",
                                                "options": [
                                                    {
                                                        "label": "User",
                                                        "value": "user"
                                                    },
                                                    {
                                                        "label": "Model",
                                                        "value": "model"
                                                    }
                                                ]
                                            },
                                            {
                                                "name": "parts",
                                                "spec": [
                                                    {
                                                        "name": "type",
                                                        "type": "select",
                                                        "label": "Message Type",
                                                        "options": [
                                                            {
                                                                "label": "Text",
                                                                "value": "text",
                                                                "nested": [
                                                                    {
                                                                        "name": "text",
                                                                        "type": "text",
                                                                        "label": "Text",
                                                                        "required": false
                                                                    }
                                                                ]
                                                            },
                                                            {
                                                                "label": "File",
                                                                "value": "file",
                                                                "nested": [
                                                                    {
                                                                        "name": "file_data",
                                                                        "spec": [
                                                                            {
                                                                                "name": "mime_type",
                                                                                "type": "text",
                                                                                "label": "Mime Type",
                                                                                "required": false
                                                                            },
                                                                            {
                                                                                "help": "You can use public or signed URLs as input by using the URLs.",
                                                                                "name": "file_uri",
                                                                                "type": "text",
                                                                                "label": "File URI",
                                                                                "required": false
                                                                            }
                                                                        ],
                                                                        "type": "collection",
                                                                        "label": "File Data",
                                                                        "required": false
                                                                    }
                                                                ]
                                                            },
                                                            {
                                                                "label": "Function Call",
                                                                "value": "functionCall",
                                                                "nested": [
                                                                    {
                                                                        "name": "functionCall",
                                                                        "spec": [
                                                                            {
                                                                                "help": "The name of the function to call.",
                                                                                "name": "name",
                                                                                "type": "text",
                                                                                "label": "Name",
                                                                                "required": true,
                                                                                "validate": {
                                                                                    "max": 64
                                                                                }
                                                                            },
                                                                            {
                                                                                "help": "The function parameters and values in JSON object format.",
                                                                                "name": "args",
                                                                                "type": "json",
                                                                                "label": "Arguments"
                                                                            },
                                                                            {
                                                                                "help": "The unique ID of the function call.",
                                                                                "name": "id",
                                                                                "type": "text",
                                                                                "label": "Function Call ID"
                                                                            }
                                                                        ],
                                                                        "type": "collection",
                                                                        "label": "Function Call"
                                                                    }
                                                                ]
                                                            },
                                                            {
                                                                "label": "Function Response",
                                                                "value": "functionResponse",
                                                                "nested": [
                                                                    {
                                                                        "name": "functionResponse",
                                                                        "spec": [
                                                                            {
                                                                                "help": "The name of the function to call.",
                                                                                "name": "name",
                                                                                "type": "text",
                                                                                "label": "Name",
                                                                                "required": true,
                                                                                "validate": {
                                                                                    "max": 64
                                                                                }
                                                                            },
                                                                            {
                                                                                "help": "The function response in JSON object format.",
                                                                                "name": "response",
                                                                                "type": "json",
                                                                                "label": "Response",
                                                                                "required": true
                                                                            }
                                                                        ],
                                                                        "type": "collection",
                                                                        "label": "Function Response"
                                                                    }
                                                                ]
                                                            }
                                                        ]
                                                    },
                                                    {
                                                        "name": "thoughtSignature",
                                                        "type": "text",
                                                        "label": "Thought Signature"
                                                    }
                                                ],
                                                "type": "array",
                                                "label": "Parts"
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Messages",
                                        "required": true
                                    },
                                    {
                                        "name": "system_instruction",
                                        "spec": [
                                            {
                                                "name": "parts",
                                                "spec": {
                                                    "name": "value",
                                                    "spec": [
                                                        {
                                                            "name": "text",
                                                            "type": "text",
                                                            "label": "Value"
                                                        }
                                                    ],
                                                    "type": "collection",
                                                    "label": "Prompt"
                                                },
                                                "type": "array",
                                                "label": "Prompts"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "System Instructions"
                                    },
                                    {
                                        "name": "safetySettings",
                                        "spec": [
                                            {
                                                "name": "category",
                                                "type": "select",
                                                "label": "Category",
                                                "options": [
                                                    {
                                                        "label": "Harassment content",
                                                        "value": "HARM_CATEGORY_HARASSMENT"
                                                    },
                                                    {
                                                        "label": "Hate speech and content",
                                                        "value": "HARM_CATEGORY_HATE_SPEECH"
                                                    },
                                                    {
                                                        "label": "Sexually explicit content.",
                                                        "value": "HARM_CATEGORY_SEXUALLY_EXPLICIT"
                                                    },
                                                    {
                                                        "label": "Dangerous content:",
                                                        "value": "HARM_CATEGORY_DANGEROUS_CONTENT"
                                                    }
                                                ]
                                            },
                                            {
                                                "name": "threshold",
                                                "type": "select",
                                                "label": "Threshold",
                                                "options": [
                                                    {
                                                        "label": "Block low and above.",
                                                        "value": "BLOCK_LOW_AND_ABOVE"
                                                    },
                                                    {
                                                        "label": "Block medium and above.",
                                                        "value": "BLOCK_MEDIUM_AND_ABOVE"
                                                    },
                                                    {
                                                        "label": "Block only high.",
                                                        "value": "BLOCK_ONLY_HIGH"
                                                    },
                                                    {
                                                        "label": "Block none.",
                                                        "value": "BLOCK_NONE"
                                                    }
                                                ]
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Safety Settings"
                                    },
                                    {
                                        "name": "generationConfig",
                                        "spec": [
                                            {
                                                "name": "stopSequences",
                                                "spec": {
                                                    "name": "value",
                                                    "type": "text",
                                                    "label": "Stop Sequence"
                                                },
                                                "type": "array",
                                                "label": "Stop Sequences"
                                            },
                                            {
                                                "name": "responseModalities",
                                                "type": "select",
                                                "label": "Response Modalities",
                                                "multiple": true,
                                                "validate": {
                                                    "enum": [
                                                        "text",
                                                        "image"
                                                    ]
                                                }
                                            },
                                            {
                                                "name": "maxOutputTokens",
                                                "type": "number",
                                                "label": "Max Output Tokens"
                                            },
                                            {
                                                "name": "temperature",
                                                "type": "number",
                                                "label": "Temperature",
                                                "validate": {
                                                    "max": 1,
                                                    "min": 0
                                                }
                                            },
                                            {
                                                "name": "topP",
                                                "type": "number",
                                                "label": "Top P",
                                                "validate": {
                                                    "max": 1,
                                                    "min": 0
                                                }
                                            },
                                            {
                                                "name": "topK",
                                                "type": "number",
                                                "label": "Top K"
                                            },
                                            {
                                                "name": "thinkingConfig",
                                                "spec": [
                                                    {
                                                        "name": "thinkingBudget",
                                                        "type": "number",
                                                        "label": "Thinking Budget"
                                                    },
                                                    {
                                                        "name": "include_thoughts",
                                                        "type": "boolean",
                                                        "label": "Include Thoughts"
                                                    },
                                                    {
                                                        "name": "thinking_level",
                                                        "type": "select",
                                                        "label": "Thinking Level",
                                                        "validate": {
                                                            "enum": [
                                                                "low",
                                                                "high"
                                                            ]
                                                        }
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "Thinking Config"
                                            },
                                            {
                                                "name": "mediaResolution",
                                                "type": "select",
                                                "label": "Media Resolution",
                                                "validate": {
                                                    "enum": [
                                                        "media_resolution_low",
                                                        "media_resolution_medium",
                                                        "media_resolution_high"
                                                    ]
                                                }
                                            },
                                            {
                                                "name": "imageConfig",
                                                "spec": [
                                                    {
                                                        "name": "imageSize",
                                                        "type": "select",
                                                        "label": "Image Size",
                                                        "validate": {
                                                            "enum": [
                                                                "1K",
                                                                "2K",
                                                                "4K"
                                                            ]
                                                        }
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "Image Configuration"
                                            },
                                            {
                                                "name": "responseMimeType",
                                                "type": "select",
                                                "label": "Response Format"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Generation configurations"
                                    },
                                    {
                                        "name": "tools",
                                        "type": "any",
                                        "label": "Tools"
                                    },
                                    {
                                        "name": "tool_config",
                                        "type": "any",
                                        "label": "Tool Config"
                                    },
                                    {
                                        "name": "function_declarations_context",
                                        "type": "boolean",
                                        "label": "Function Declarations Grounding"
                                    },
                                    {
                                        "name": "url_context",
                                        "type": "boolean",
                                        "label": "URL Context"
                                    },
                                    {
                                        "name": "google_search_context",
                                        "type": "boolean",
                                        "label": "Google Search Grounding"
                                    },
                                    {
                                        "name": "code_execution",
                                        "type": "boolean",
                                        "label": "Code Execution"
                                    },
                                    {
                                        "name": "google_maps_context",
                                        "type": "boolean",
                                        "label": "Google Maps Grounding"
                                    },
                                    {
                                        "name": "file_search_store_context",
                                        "type": "boolean",
                                        "label": "File Search Store Context"
                                    },
                                    {
                                        "name": "model",
                                        "type": "select",
                                        "label": "AI Model",
                                        "required": true
                                    },
                                    {
                                        "name": "contents",
                                        "spec": [
                                            {
                                                "name": "role",
                                                "type": "select",
                                                "label": "Role",
                                                "options": [
                                                    {
                                                        "label": "User",
                                                        "value": "user"
                                                    },
                                                    {
                                                        "label": "Model",
                                                        "value": "model"
                                                    }
                                                ]
                                            },
                                            {
                                                "name": "parts",
                                                "spec": [
                                                    {
                                                        "name": "type",
                                                        "type": "select",
                                                        "label": "Message Type",
                                                        "options": [
                                                            {
                                                                "label": "Text",
                                                                "value": "text",
                                                                "nested": [
                                                                    {
                                                                        "name": "text",
                                                                        "type": "text",
                                                                        "label": "Text",
                                                                        "required": false
                                                                    }
                                                                ]
                                                            },
                                                            {
                                                                "label": "File",
                                                                "value": "file",
                                                                "nested": [
                                                                    {
                                                                        "name": "file_data",
                                                                        "spec": [
                                                                            {
                                                                                "name": "mime_type",
                                                                                "type": "text",
                                                                                "label": "Mime Type",
                                                                                "required": false
                                                                            },
                                                                            {
                                                                                "help": "You can use public or signed URLs as input by using the URLs.",
                                                                                "name": "file_uri",
                                                                                "type": "text",
                                                                                "label": "File URI",
                                                                                "required": false
                                                                            }
                                                                        ],
                                                                        "type": "collection",
                                                                        "label": "File Data",
                                                                        "required": false
                                                                    }
                                                                ]
                                                            },
                                                            {
                                                                "label": "Function Call",
                                                                "value": "functionCall",
                                                                "nested": [
                                                                    {
                                                                        "name": "functionCall",
                                                                        "spec": [
                                                                            {
                                                                                "help": "The name of the function to call.",
                                                                                "name": "name",
                                                                                "type": "text",
                                                                                "label": "Name",
                                                                                "required": true,
                                                                                "validate": {
                                                                                    "max": 64
                                                                                }
                                                                            },
                                                                            {
                                                                                "help": "The function parameters and values in JSON object format.",
                                                                                "name": "args",
                                                                                "type": "json",
                                                                                "label": "Arguments"
                                                                            },
                                                                            {
                                                                                "help": "The unique ID of the function call.",
                                                                                "name": "id",
                                                                                "type": "text",
                                                                                "label": "Function Call ID"
                                                                            }
                                                                        ],
                                                                        "type": "collection",
                                                                        "label": "Function Call"
                                                                    }
                                                                ]
                                                            },
                                                            {
                                                                "label": "Function Response",
                                                                "value": "functionResponse",
                                                                "nested": [
                                                                    {
                                                                        "name": "functionResponse",
                                                                        "spec": [
                                                                            {
                                                                                "help": "The name of the function to call.",
                                                                                "name": "name",
                                                                                "type": "text",
                                                                                "label": "Name",
                                                                                "required": true,
                                                                                "validate": {
                                                                                    "max": 64
                                                                                }
                                                                            },
                                                                            {
                                                                                "help": "The function response in JSON object format.",
                                                                                "name": "response",
                                                                                "type": "json",
                                                                                "label": "Response",
                                                                                "required": true
                                                                            }
                                                                        ],
                                                                        "type": "collection",
                                                                        "label": "Function Response"
                                                                    }
                                                                ]
                                                            }
                                                        ]
                                                    },
                                                    {
                                                        "name": "thoughtSignature",
                                                        "type": "text",
                                                        "label": "Thought Signature"
                                                    }
                                                ],
                                                "type": "array",
                                                "label": "Parts"
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Messages",
                                        "required": true
                                    },
                                    {
                                        "name": "system_instruction",
                                        "spec": [
                                            {
                                                "name": "parts",
                                                "spec": {
                                                    "name": "value",
                                                    "spec": [
                                                        {
                                                            "name": "text",
                                                            "type": "text",
                                                            "label": "Value"
                                                        }
                                                    ],
                                                    "type": "collection",
                                                    "label": "Prompt"
                                                },
                                                "type": "array",
                                                "label": "Prompts"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "System Instructions"
                                    },
                                    {
                                        "name": "safetySettings",
                                        "spec": [
                                            {
                                                "name": "category",
                                                "type": "select",
                                                "label": "Category",
                                                "options": [
                                                    {
                                                        "label": "Harassment content",
                                                        "value": "HARM_CATEGORY_HARASSMENT"
                                                    },
                                                    {
                                                        "label": "Hate speech and content",
                                                        "value": "HARM_CATEGORY_HATE_SPEECH"
                                                    },
                                                    {
                                                        "label": "Sexually explicit content.",
                                                        "value": "HARM_CATEGORY_SEXUALLY_EXPLICIT"
                                                    },
                                                    {
                                                        "label": "Dangerous content:",
                                                        "value": "HARM_CATEGORY_DANGEROUS_CONTENT"
                                                    }
                                                ]
                                            },
                                            {
                                                "name": "threshold",
                                                "type": "select",
                                                "label": "Threshold",
                                                "options": [
                                                    {
                                                        "label": "Block low and above.",
                                                        "value": "BLOCK_LOW_AND_ABOVE"
                                                    },
                                                    {
                                                        "label": "Block medium and above.",
                                                        "value": "BLOCK_MEDIUM_AND_ABOVE"
                                                    },
                                                    {
                                                        "label": "Block only high.",
                                                        "value": "BLOCK_ONLY_HIGH"
                                                    },
                                                    {
                                                        "label": "Block none.",
                                                        "value": "BLOCK_NONE"
                                                    }
                                                ]
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Safety Settings"
                                    },
                                    {
                                        "name": "generationConfig",
                                        "spec": [
                                            {
                                                "name": "stopSequences",
                                                "spec": {
                                                    "name": "value",
                                                    "type": "text",
                                                    "label": "Stop Sequence"
                                                },
                                                "type": "array",
                                                "label": "Stop Sequences"
                                            },
                                            {
                                                "name": "responseModalities",
                                                "type": "select",
                                                "label": "Response Modalities",
                                                "multiple": true,
                                                "validate": {
                                                    "enum": [
                                                        "text",
                                                        "image"
                                                    ]
                                                }
                                            },
                                            {
                                                "name": "maxOutputTokens",
                                                "type": "number",
                                                "label": "Max Output Tokens"
                                            },
                                            {
                                                "name": "temperature",
                                                "type": "number",
                                                "label": "Temperature",
                                                "validate": {
                                                    "max": 1,
                                                    "min": 0
                                                }
                                            },
                                            {
                                                "name": "topP",
                                                "type": "number",
                                                "label": "Top P",
                                                "validate": {
                                                    "max": 1,
                                                    "min": 0
                                                }
                                            },
                                            {
                                                "name": "topK",
                                                "type": "number",
                                                "label": "Top K"
                                            },
                                            {
                                                "name": "thinkingConfig",
                                                "spec": [
                                                    {
                                                        "name": "thinkingBudget",
                                                        "type": "number",
                                                        "label": "Thinking Budget"
                                                    },
                                                    {
                                                        "name": "include_thoughts",
                                                        "type": "boolean",
                                                        "label": "Include Thoughts"
                                                    },
                                                    {
                                                        "name": "thinking_level",
                                                        "type": "select",
                                                        "label": "Thinking Level",
                                                        "validate": {
                                                            "enum": [
                                                                "low",
                                                                "high"
                                                            ]
                                                        }
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "Thinking Config"
                                            },
                                            {
                                                "name": "mediaResolution",
                                                "type": "select",
                                                "label": "Media Resolution",
                                                "validate": {
                                                    "enum": [
                                                        "media_resolution_low",
                                                        "media_resolution_medium",
                                                        "media_resolution_high"
                                                    ]
                                                }
                                            },
                                            {
                                                "name": "imageConfig",
                                                "spec": [
                                                    {
                                                        "name": "imageSize",
                                                        "type": "select",
                                                        "label": "Image Size",
                                                        "validate": {
                                                            "enum": [
                                                                "1K",
                                                                "2K",
                                                                "4K"
                                                            ]
                                                        }
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "Image Configuration"
                                            },
                                            {
                                                "name": "responseMimeType",
                                                "type": "select",
                                                "label": "Response Format"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Generation configurations"
                                    },
                                    {
                                        "name": "tools",
                                        "type": "any",
                                        "label": "Tools"
                                    },
                                    {
                                        "name": "tool_config",
                                        "type": "any",
                                        "label": "Tool Config"
                                    },
                                    {
                                        "name": "function_declarations_context",
                                        "type": "boolean",
                                        "label": "Function Declarations Grounding"
                                    },
                                    {
                                        "name": "url_context",
                                        "type": "boolean",
                                        "label": "URL Context"
                                    },
                                    {
                                        "name": "google_search_context",
                                        "type": "boolean",
                                        "label": "Google Search Grounding"
                                    },
                                    {
                                        "name": "code_execution",
                                        "type": "boolean",
                                        "label": "Code Execution"
                                    },
                                    {
                                        "name": "google_maps_context",
                                        "type": "boolean",
                                        "label": "Google Maps Grounding"
                                    },
                                    {
                                        "name": "file_search_store_context",
                                        "type": "boolean",
                                        "label": "File Search Store Context"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 16,
                            "module": "google-email:sendAnEmail",
                            "version": 4,
                            "parameters": {
                                "__IMTCONN__": 6267265
                            },
                            "mapper": {
                                "to": [
                                    "{{7.answers.`740f740d`.textAnswers.answers[].value}}"
                                ],
                                "content": "{{9.result}}",
                                "subject": "Summary of Meeting",
                                "bodyType": "rawHtml"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 891,
                                    "y": 306
                                },
                                "restore": {
                                    "expect": {
                                        "cc": {
                                            "mode": "chose"
                                        },
                                        "to": {
                                            "mode": "chose",
                                            "items": [
                                                null
                                            ]
                                        },
                                        "bcc": {
                                            "mode": "chose"
                                        },
                                        "from": {
                                            "mode": "chose"
                                        },
                                        "bodyType": {
                                            "label": "Raw HTML"
                                        },
                                        "attachments": {
                                            "mode": "chose"
                                        },
                                        "emailHeaders": {
                                            "mode": "chose"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "google-email"
                                            },
                                            "label": "nipun.sai.090246@gmail.com (nipun.sai.090246@gmail.com)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:google-email",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "to",
                                        "spec": {
                                            "name": "value",
                                            "type": "email",
                                            "label": "Recipient email address",
                                            "required": true,
                                            "validate": true
                                        },
                                        "type": "array",
                                        "label": "To",
                                        "required": true
                                    },
                                    {
                                        "name": "subject",
                                        "type": "text",
                                        "label": "Subject"
                                    },
                                    {
                                        "name": "bodyType",
                                        "type": "select",
                                        "label": "Body type",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "rawHtml",
                                                "collection"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "attachments",
                                        "spec": {
                                            "name": "value",
                                            "spec": [
                                                {
                                                    "name": "filename",
                                                    "type": "filename",
                                                    "label": "File name",
                                                    "required": true,
                                                    "semantic": "file:name"
                                                },
                                                {
                                                    "name": "data",
                                                    "type": "buffer",
                                                    "label": "Data",
                                                    "required": true,
                                                    "semantic": "file:data"
                                                }
                                            ],
                                            "type": "collection",
                                            "label": "Attachment"
                                        },
                                        "type": "array",
                                        "label": "Attachments"
                                    },
                                    {
                                        "name": "from",
                                        "type": "select",
                                        "label": "From"
                                    },
                                    {
                                        "name": "cc",
                                        "spec": {
                                            "name": "value",
                                            "type": "email",
                                            "label": "Recipient email address",
                                            "required": true
                                        },
                                        "type": "array",
                                        "label": "CC recipients"
                                    },
                                    {
                                        "name": "bcc",
                                        "spec": {
                                            "name": "value",
                                            "type": "email",
                                            "label": "Recipient email address",
                                            "required": true
                                        },
                                        "type": "array",
                                        "label": "BCC recipients"
                                    },
                                    {
                                        "name": "emailHeaders",
                                        "spec": {
                                            "name": "value",
                                            "spec": [
                                                {
                                                    "name": "key",
                                                    "type": "text",
                                                    "label": "Key",
                                                    "required": true
                                                },
                                                {
                                                    "name": "value",
                                                    "type": "text",
                                                    "label": "Value"
                                                }
                                            ],
                                            "type": "collection",
                                            "label": "Email header"
                                        },
                                        "type": "array",
                                        "label": "Additional email headers"
                                    },
                                    {
                                        "name": "content",
                                        "type": "text",
                                        "label": "Content"
                                    }
                                ]
                            }
                        }
                    ]
                }
            ]
        }
    ],
    "metadata": {
        "instant": false,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "us2.make.com",
        "notes": []
    }
}
